<!DOCTYPE html>
<html>
<head>
    <title>Form Page</title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>
<body>
    <div class="content">
    <h1>Support Ticket</h1>
    <p>By following this link below you'll be able to create a support ticket for an agent to view.</p>
    <br>
    <a href="/form">Click here to continue</a>
    <br>
    </div>
</body>
</html>
