body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 48, 188);
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 2em;
    padding: 50px;
    background-color: #ffffff;
}

button {
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
}

tr {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr td, tr th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:hover {background-color: #ddd;}

tr th {
    padding-top: 1rem 2rem;
    text-transform: uppercase;
    background-color: #1150b5;
    font-size: 0.7rem;
    font-weight: 900;
    color: white;
}

